.medicine_section {
  background-color: lightgray;
  height: 100vh;
}

.medicine_data {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  margin-left: -15px;
  height: 650px;
}

.medicine_update_button {
  background-color: #fe3b4f;
  border: 1px solid grey;
  border-radius: 20px;
  color: #fff;
  height: 35px;
  margin-top: 15px;
  width: 130px;
  margin-left: 161px;
}

.medicine_table_heading {
  background-color: #d5d5d5;
  font-size: 15px;
  border: none;
  height: 30px;
  font-weight: 700;
}

.massage {
  margin-left: 50px;
  width: 350px;
}
.whatsp_icone {
  width: 25px;
  height: 25px;

  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 2px 3px #999;
}
.file_icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: red;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 2px 3px #999;
  margin-right: 10px;
}
