.car_table_heading{
    background-color: #d5d5d5;
    font-size: 15px;
    border: none;
    height: 30px;
    font-weight: 700;
  }
  .update_btn {
    background-color: #fe3b4f;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: -30px;
    width: 225px;
}
.massage {
  margin-left: 50px;
  width: 350px;
}